// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.marg{
margin-right: 20px;
color: white;
}
ul {
  padding-left: 0px;
  list-style: none;
}
