<div class="container" style="margin-top: 30px;">
  <div class="page-header">
    <h1>New Organisation</h1>
    
  </div>
</div>

<div class="container">
<%= render 'form', organization: @organization %>

<%= link_to 'Show', @organization %> |
<%= link_to 'Back', organizations_path %>
</div>
